{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AWS": {
    "Region": "{awsRegion}",
    "AccessKey": "{awsAccessKey}",
    "SecretKey": "{awsSecretKey}"
  },
  "SignOnAuthority": "{ssoAddress}"
}
